* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #352f5b;
  color: #fff;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 65px;
  margin: 10px auto 60px auto;
}

.task {
  background: rgba(180, 189, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10px auto 60px auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 60%;
  align-items: center;
  font-size: 25px;
  border-bottom: #fff 2px solid;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .task {
    background: rgba(180, 189, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 10px auto 60px auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 90%;
    align-items: center;
    font-size: 25px;
    border-bottom: #fff 2px solid;
    border-radius: 10px;
  }
}
.task:hover {
  border-bottom: #fff 3px solid;
  border-radius: 12px;
  transition: all 0.1s;
}

i {
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
i:hover {
  font-size: 28px;
}
.fa-star {
  opacity: 0.6;
  font-size: 25px;
}
.fa-star:hover {
  opacity: 1;
  font-size: 28px;
  color: gold;
  transition: all 0.1s;
}
.fa-trash-can {
  opacity: 0.6;
  font-size: 25px;
}
.fa-trash-can:hover {
  opacity: 1;
  font-size: 28px;
  color: gold;
  transition: all 0.1s;
}
.fa-face-angry {
  color: gold;
}
/* .icon{
  margin: 0px 10px 0px 15px;

} */
label {
  font-size: 25px;
}
input {
  border-radius: 6px;
  width: 30%;
  height: 50px;
  margin: 10px 20px 60px 20px;
  font-size: 25px;
  border: 5px solid rgba(226, 219, 253, 0.767);
}
@media (max-width: 992px) {
  input {
    border-radius: 6px;
    width: 70%;
    height: 50px;
    margin: 10px 20px 60px 20px;
    font-size: 25px;
    border: 5px solid rgba(226, 219, 253, 0.767);
  }
}

.uploud {
  font-size: 30px;
  margin: 0px auto 0px auto;
}

.uploud:hover {
  font-size: 35px;
  color: rgb(103, 179, 250);
  transition: all 0.1s;
}
button {
  all: unset;
}
.fa-heart {
  /* display: none !important; */
  color: rgb(250, 109, 109);
}
.unactive {
  display: none !important;
}
.active {
  display: block !important;
}
.text-e {
  text-decoration-line: line-through;
  color: rgb(179, 219, 252);
}
.star {
  color: orange;
  opacity: 1;
}
.ppp{
  margin: 80px 0px 0px 0px;

 }