*{
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #352f5b;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 65px;
  margin: 10px auto 60px auto;
}


