html{
  background-color: #333;
}

.prince{
  background-color: #2196f3;

}
.click {
 
  background-color: #2196f3;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 8px;
}
/* .click {

  background-color: #e2e2e2;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 8px;
} */

.bc {
  background-color: #e2e2e2;
}

